# upload this file to /etc/systemd/system and edit to your needs adjusting your user in the path

[Unit]
Description=Run disk-info.sh

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node -c "/home/<your-user>/bw-chia-utils/disk-info.js"

[Install]
WantedBy=timers.target