# upload this file to /etc/systemd/system and edit to your needs adjusting your user in the path

[Unit]
Description=Run start-chia.sh

[Service]
Type=oneshot
# adjust to your user
User=<your-user>
# adjust to your group
Group=<your-group>
# adjust to your path
WorkingDirectory=/home/<your-user>/bw-chia-utils/start-chia
Environment=CHIA_PATH='/home/<your-user>/chia-blockchain'

# chose an option and adjust to your path
ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} farmer
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} all
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} node
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} harvester
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} farmer-no-wallet
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} farmer-only
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} timelord
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} timelord-only
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} timelord-launcher-only
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} wallet
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} introducer
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} simulator
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} crawler
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} seeder
# ExecStart=/home/<your-user>/bw-chia-utils/start-chia/start-chia.sh ${CHIA_PATH} seeder-only

[Install]
WantedBy=multi-user.target